<a href="/free-trial" class="slp-min-w-full slp-mx-auto slp-block md:slp-w-max md:slp-mx-0 slp-mt-16 slp-btn" style="display: block !important;">Start your free trial</a>
<a href="/demo" class="slp-min-w-full slp-mx-auto slp-block md:slp-w-max md:slp-mx-0 slp-btn slp-btn--secondary" style="display: block !important;">Watch a demo</a>